.box{
	width:100px;
	height:100px;
	background:blue;
	transition: all 0.3s;
	background-image: url(../assets/imgs/1.png); 
}
.box:hover{
	width:200px;
	height:200px;
	background:yellow;
}

.box2{
	width:100px;
	height:100px;
	background:blue;
	transition: all 0.3s;
	background-image: url(../assets/imgs/2.png); 
}